.boxs {
  height: 100%;
  padding: 0 12/12rem;
  
  font-size: 12/12rem;
  line-height: 16/12rem;

  .header{
    height: 42/12rem;
    width: 100%;
    line-height: 42/12rem;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    background: #ffffff;
    .header_title{
        font-size: 18/12rem;
        color: #191919;
        background: #ffffff;
    }
    .header_btn{
        height: 42/12rem;
        position: absolute;
        left: 0;
        padding-left: 12/12rem;
        box-sizing: border-box;
        top: 0;
        color: #ccc;
        display: flex;
        align-items: center;
        img{
            width: 20/12rem;
            height: 20/12rem;
        }
    }
  }


  .box {
    padding-top: 42/12rem;
    overflow: hidden;
    h4 {
      font-size: 14/12rem;
    }
    .textIndent {
      text-indent: 20/12rem;
    }
  
  }


}